<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{ title }}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>
                <p>FilterBy:</p>
            </div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="filterText"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered By:{{filterText}}</h3>
            </div>
        </div>
        {{showImage}}                        
        <div class='table-responsive' *ngIf="products && products.length">
            <table class='table'>
                <thead>
                    <tr>
                        <td>
                            <button class='btn btn-success'
                                (click)="toggleImage()">
                                {{showImage ? "Hide Image":"Show Image"}}
                            </button>
                        </td>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let product of products | productFilter:filterText">
                        <td>
                            <img [src]="product.imageUrl"  
                                 *ngIf="showImage"
                                 [style.width.px]="imageWidth"/>
                        </td>
                        <td style="font-size:30px">{{product.productName | myupper:'lower'}}</td>
                        <td>{{product.productCode | myupper:'upper'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | addValue | currency:"GBP"}}</td>
                        <td>
                                <app-star [rating]="product.starRating"
                                    (ratingClicked)="onDataRecive($event)"></app-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>